.app-container {
    background-color: #FEF6EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 75px 20px 112px; /* Adjust padding for smaller screens */
    background-image: url("");
    background-size: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title {
    font-size: 40px; /* Decrease font size for smaller screens */
}

.app-container p {
    width: 100%; /* Use 100% width for responsiveness */
    font-size: 18px; /* Decrease font size for smaller screens */
    line-height: 28px; /* Adjust line height for better readability */
}

.learnmore {
    padding: 8px 20px; /* Adjust padding for smaller screens */
    border-radius: 9px;
    border: 1px solid #F18D2E;
    color: #F18D2E;
    font-size: 16px; /* Decrease font size for smaller screens */
}

/* Responsive Styles */
@media screen and (min-width: 769px) {
    /* Styles for tablet and desktop devices */
    .app-container {
        padding: 75px 64px 112px;
    }

    .title {
        font-size: 69px;
    }

    .app-container p {
        width: 939.43px;
        font-size: 22px;
        line-height: 33px;
    }
}
